$green: #3bc8aa;
$orange: #ff551a;
$beige: #ffeccf;
$purple: #31234e;
$pink: #ffc6c6;
$black: #1e1e1e;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
    color: $black;
    font-family: $bodyFont;
}

h1, h2 {
    font-family: $titleFont;
}