$green: #3bc8aa;
$orange: #ff551a;
$beige: #ffeccf;
$purple: #31234e;
$pink: #ffc6c6;
$black: #1e1e1e;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
    color: $black;
    font-family: $bodyFont;
}

h1, h2 {
    font-family: $titleFont;
    margin: 0 auto;
    padding: 26px 0 0 0;
}

body{
    margin: 0px;
    padding: 0px;
  }

header {
    background-color: $green;
    margin: 0;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    margin: 50px;
}

.left-nav {
    margin: 20px;
    a {
        font-family: $bodyFont;
        color: white;
        font-weight: 500;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}